[project]
	description = simple playframework + reactivemongo backend provinding a rest api for some business objects
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Akos Mocsanyi (tsechov)
[access "refs/for/refs/*"]
	read = group user/Akos Mocsanyi (tsechov)
	push = group user/Akos Mocsanyi (tsechov)
	label-Code-Review = -2..+2 group user/Akos Mocsanyi (tsechov)
	label-Verified = -1..+1 group user/Akos Mocsanyi (tsechov)
	rebase = group user/Akos Mocsanyi (tsechov)
	removeReviewer = group user/Akos Mocsanyi (tsechov)
	submit = group user/Akos Mocsanyi (tsechov)
[access "refs/heads/*"]
	read = group user/Akos Mocsanyi (tsechov)
	create = group user/Akos Mocsanyi (tsechov)
	push = +force group user/Akos Mocsanyi (tsechov)
	pushMerge = group user/Akos Mocsanyi (tsechov)
[access "refs/tags/*"]
	push = +force group user/Akos Mocsanyi (tsechov)
	pushTag = group user/Akos Mocsanyi (tsechov)
	pushSignedTag = group user/Akos Mocsanyi (tsechov)
